<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/estilo/RegistroProductos.css">
    <link rel="stylesheet" href="/resources/estilo/inicio.css">
    <script src="/resources/javascript/scripts.js"></script>
    <title>EDITARDeProductos</title>
</head>

<body>
    <header class="header" >
        <a href="/home"><img class="logo" src="/resources/IMAGENES/LOGO.PNG"></a>
        <div class="lista">
        <ul>
          <li ><a >Cliente</a></li>
          <li> <a href="/colab">Colaborador</a></h2></li>
          <li> <a href="/ver-equipos">Equipo</a></h2></li>
          <li> <a href="/producto">Producto</a></h2></li>
          <li> <a href="/servicio">Servicio</a></h2></li>
          <li> <a href="/tarea">Tarea</a></h2></li></ul>
        </div>
        </header>
        <section class="sidebar">
        </section>
        <% if (producto) { %>
<div class="row">
    <div class="col-md-2">
        <div>
            <div class="cuadroimg">
                <form method="post" action="/updateproducto">
                    <input id="Idproducto" name="Idproducto" value="<%=producto.Idproducto%>" hidden />
                <div class="upload-area">
                    <label for="fileUpload">
                        <i class="upload-icon">⬆️</i>
                        <span>Arrastre o haga clic</span>
                    </label>
                    <input type="file" id="fileUpload" hidden />
                </div>
                <div class="input-group">
                    <label for="nombre">Nombre <span>*</span></label>
                    <input type="text" id="Nombre" name="Nombre" value="<%= producto.Nombre %>" required />
                </div>    
                <div class="status">
                    <span id="statusText">Activo</span>
                    <label class="switch">
                        <input type="checkbox" id="statusToggle" checked />
                        <span class="slider"></span>
                    </div>
                </div>
            </div>
            
            <div class="main-content">
                <div class="price-inputs">
                    <div class="price-box">
                        <h3>Valor Unitario 1</h3>
                        <input type="number" step="0.01" placeholder="0.00" id="Valor" name="Valor" value="<%= producto.Valor %>" />
                    </div>
                    <div class="price-box">
                        <h3>Costo Unitario 2</h3>
                        <input type="number" step="0.01" placeholder="0.00" id="Costo" name="Costo" value="<%= producto.Costo %>" />
                    </div>
                    <div class="price-box">
                        <h3>Stock 3</h3>
                        <input type="number" step="0.01" placeholder="0.00" id="Stocks" name="Stocks" value="<%= producto.Stocks %>"/>
                    </div>
                    <div class="price-box">
                        <h3>Inventario 4</h3>
                        <input type="number" step="0.01" placeholder="0.00" id="Inventario" name="Inventario" value="<%= producto.Inventario %>" />
                    </div>
                    <div class="price-box">
                        <h3>Con colaboradores 5</h3>
                        <input type="number" step="0.01" placeholder="0.00" />
                    </div>
                </div>
                <div class="equipment-form">
                    <h2>Especificaciones del Equipo</h2>
                    <label for="Descripcion">Descripción</label>
                    <input type="text" id="Descripcion" name="Descripcion" value="<%= producto.Descripcion %>" required />
                    <label for="Categoria">Categoria</label>
                    <select type="submit" id="Categoria" name="Categoria">
                        <option <%= producto.Categoria=='1' ? "selected" : ""%> value="1">1</option>
                        <option <%= producto.Categoria=='2' ? "selected" : ""%>value="2">2</option>
                    </select>
                    <label for="fechaCompra">Fecha de Compra</label>
                    <input type="date" id="Fecha_Compra" name="Fecha_Compra" value="<%= producto.Fecha_Compra %>"/>
                <button type="submit">Guardar Información</button>
            </div>
            </div>
            </form>
        </div>
        </div>
        <% } %>
    </div>
    </body>
    </html>