<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/estilo/Equipos.css">
    <title>Pagina de Equipos</title>
    

</head>
    <body>
        <header class="header" >
    <a href="/home"><img src="/resources/IMAGENES/LOGO.PNG"></a>
    <ul>
    <li><a href="/clientes">Cliente</a></li>
    <li> <a href="/colab">Colaborador</a></h2></li>
    <li> <a href="/ver-equipos" style="color:rgb(2, 178, 40)">Equipo</a></h2></li>
    <li> <a href="/producto">Producto</a></h2></li>
    <li> <a href="/servicio">Servicio</a></h2></li>
    <li> <a href="/tarea">Tarea</a></h2></li></ul>
    
        </header>
        <section class="sidebar"></section>
        <main class="main">
            <div class="container">
                <div class="button-container">
                    <a href="/resequipo"> <button class="card">Agregar</button></a>
                </div>
                <div class="diseño2" >
                <div class="tablew">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th >Id</th>
                                <th >Nombre</th>
                                <th >indentificiacion</th>
                                <th >Fecha</th>
                                <th >Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (results && results.length > 0) { %>
                                <% results.forEach((tablaequipos) => { %>
                                    <tr>
                                        <td > <a href="/editequipo/<%= tablaequipos.IdEquipo %>" class="btn btn-outline-info"><%= tablaequipos.IdEquipo %></a></td>
                                        <td ><%= tablaequipos.Nombre %></td>
                                        <td ><%= tablaequipos.Identificador %></td>
                                        <td ><%= tablaequipos.Fecha %></td>
                                        <td ><%= tablaequipos.Descripcion %></td>
                                        <td>
                                            <a href="/deleteequipo/<%= tablaequipos.IdEquipo %>" class="btn btn-outline-info">borrar</a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="5">No hay datos disponibles.</td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </main>   
        </header>
        <section class="sidebar"> </section>
    </body>
</html>
