<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Equipos</title>
    <link rel="stylesheet" href="/resources/estilo/Equipos.css">
</head>
<body>

    <header class="header" >
        <ul>
        <li><a href="/clientes">Cliente</a></li>
        <li> <a href="/colab">Colaborador</a></h2></li>
        <li> <a href="/equipo">Equipo</a></h2></li>
        <li> <a href="/producto">Producto</a></h2></li>
        <li> <a href="/servicio">Servicio</a></h2></li>
        <li> <a href="/tarea">Tarea</a></h2></ul></li>    
    </header>

        <section class="sidebar">
        </section>

<div class="contenedor-boton">
<button class="float" > <a href="/resequipo">Agregar</a>
</div>


</header>
<section class="sidebar">
</section>

<main class="main">
<div class="cuadro2" >
<div class="card"><a href="/resequipo">Crear</a></div>
<div class="card">Crear</div>
<div class="tablew">
<div class="cuadro">
<table class="disazo table-hover" >

    <thead>      
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col">Contacto</th>
        <th scope="col">Cargo</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td scope="row" class="table-primary"><%=  %></td>
        <td scope="row" ><%=  %></td>
        <td scope="row" class="table-primary"><%=  %></td>
        <td scope="row" ><%= %></td>
        <td scope="row" class="table-primary"><%=  %></td>
        <td>
          <a href="/edit" class="btn btn-outline-info">editarg</a>
          <a href="/edit" class="btn btn-outline-info">borrar</a>
        </td>
    </tr>
</tbody>
</table>
</body>
</html>
