<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="resources/estilo/TablaProductos.css">
</head>
<body>

    <header class="header" >
        <ul>
        <li><a href="/clientes">Cliente</a></li>
        <li> <a href="/colab">Colaborador</a></h2></li>
        <li> <a href="/ver-equipos">Equipo</a></h2></li>
        <li> <a href="/producto">Producto</a></h2></li>
        <li> <a href="/servicio">Servicio</a></h2></li>
        <li> <a href="/tarea">Tarea</a></h2></ul></li>
        
        </header>
        <section class="sidebar"> </section>
    <div class="container">
        <div class="Titulo">
            <h1>Productos</h1>
            <div class="action-buttons">
                <button class="BotonGr" href=""> Categorías</button>
                <button class="BotonGr" href=""> Filtros </button>
                <button class="BotonGr" href=""> Más acciones </button>
                <button class="BotonGr" onclick="window.location.href='/RegistroProductos'"> Agregar producto ahora </button>
            </div>
        </div>
        <!-- Tabla de productos -->
        <table class="products-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Stock mínimo</th>
                    <th>Stock</th>
                    <th>Valor Unitario MXN $</th>
                </tr>
            </thead>
            <tbody>
                <% if (results && results.length > 0) { %>
                    <% results.forEach((tablaproducto) => { %>
                        <tr>
                            <td scope="row" class="table-primary"><%= tablaproducto.IdProducto %></td>
                            <td scope="row" class="table-primary"><%= tablaproducto.Nombre %></td>
                            <td scope="row" ><%= tablaproducto.Inventario %></td>
                            <td scope="row" class="table-primary"><%= tablaproducto.Stocks %></td>
                            <td scope="row" class="table-primary"><%= tablaproducto.Valor %></td>
                            <td>
                                <a href="/editproducto/<%= tablaproducto.IdProducto %>" class="btn btn-outline-info">editar</a>
                                <a href="/deleteproducto/<%= tablaproducto.IdProducto %>" class="btn btn-outline-info">borrar</a>
                            </td>
                        </tr>
                        <% }) %>
                        <% } else { %>
                            <tr>
                                <td colspan="5">No hay datos disponibles.</td>
                            </tr>
                            <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
