<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/estilo/tablaColaborador.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/estilo/inicio.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Colaboradores</title>
  </head>
  <body>
    <header class="header" > 
      <a href="/home"><img src="/resources/IMAGENES/LOGO.PNG"></a>
      <ul>
      <li><a href="/clientes">Cliente</a></li>
      <li> <a href="/colab" style="color:rgb(2, 178, 40)">Colaborador</a></h2></li>
      <li> <a href="/ver-equipos">Equipo</a></h2></li>
      <li> <a href="/producto">Producto</a></h2></li>
      <li> <a href="/servicio">Servicio</a></h2></li>
      <li> <a href="/tarea">Tarea</a></h2></li></ul>
    </header>
    <section class="sidebar">
    </section>
    
    <main class="main">
      <div class="cuadro2" >
        <a href="/registro" ><button class="add-service-btn">Agregar</button></a>
      <div class="diseño">
        <div class="scroll">
        <table class="tablew" >
          <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Contacto</th>
            <th scope="col">Cargo</th>
            <th scope="col">ACCION</th>
          </tr>
        </thead>      
        <tbody>  
          <% results.forEach((colaboradores) => { %>
            <tr>
              <td scope="row" ><a  href="/editidcol/id/<%= colaboradores.idcolaborador %>"><%= colaboradores.idcolaborador %></a></td>
              <td scope="row" ><%= colaboradores.nombre %></td>
              <td scope="row" ><%= colaboradores.usuario %></td>
              <td scope="row" ><%= colaboradores.correo %></td>
              <td scope="row" ><%= colaboradores.contacto %></td>
              <td scope="row" ><%= colaboradores.cargo %></td>
              <td>
                <a href="/deletes/<%= colaboradores.idcolaborador %>" class="btn">borrar</a>
              </td>
            </tr>
            <%  }) %>
          </tbody>
        
        </table>
      </div>
      </div>
  </div>
</main>
</body>
</html>