<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/estilo/tabla.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/estilo/inicio.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Tabla tareas    </title>
  
  </head>
  <body>
  
    <header class="header" >  <ul>
      <li><a href="/clientes">CLIENTE</a></li>
  <li> <a href="/colab" style="color:rgb(0, 187, 255)">COLABORADOR</a></h2></li>
<li> <a href="/ver-equipos">Equipo</a></h2></li>
<li> <a href="/producto">Producto</a></h2></li>
<li> <a href="/servicio">Servicio</a></h2></li>
<li> <a href="/tarea">Tarea</a></h2></ul></li>
</header>

    <section class="sidebar"></section>
    <main class="main">
      <div class="cuadro2" >
        <div class="tablew">
          <div class="cuadro">
            <table class="disazo table-hover" >
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">CLIENTE</th>
                  <th scope="col">COLABORADOR</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">TIPO</th>
                  <th scope="col">PRIORIDAD</th>
                  <th scope="col">DESCRIPCION</th>
                  <th scope="col">STATUS</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((tareas) => { %>
                <tr>
                  <td scope="row" class="table-primary"><%= tareas.id_tarea %></td>
                  <td scope="row" ><%= tareas.cliente %></td>
                  <td scope="row" class="table-primary"><%= tareas.colaborador %></td>
                  <td scope="row" ><%= tareas.fecha %></td>
                  <td scope="row" class="table-primary"><%= tareas.tipo %></td>
                  <td scope="row" class="table-primary"><%= tareas.prioridad %></td>
                  <td scope="row" class="table-primary"><%= tareas.descripcion %></td>
                  <td scope="row" class="table-primary"><%= tareas.status %></td>
                  <td>
                    <td>
                      <a id="active" class="btn btn-outline-info" style="color: green;">ACTIVO</a>
                      <button id="finish" class="btn btn-outline-info" style="color:red">FINALIZAR</button>
                    </td>
                  </tr>
                  <%  }) %>
                </tbody>
          
</table>


</div>
</div>
</div>

</main>
<script script src="/resources/javascript/Tarea.js"></script>
  </body>
</html>