<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/estilo/tablaCliente.css">
    <link rel="stylesheet" href="/resources/estilo/inicio.css">
    <title>Cliente</title>
  
  </head>
  <body>
    <header class="header" >
      <a href="/home"><img class="logo" src="/resources/IMAGENES/LOGO.PNG"></a>
      <div class="lista">
      <ul>
        <li><a href="/clientes">Cliente</a></li>
        <li> <a href="/colab">Colaborador</a></h2></li>
        <li> <a href="/ver-equipos">Equipo</a></h2></li>
        <li> <a href="/producto">Producto</a></h2></li>
        <li> <a href="/servicio">Servicio</a></h2></li>
        <li> <a href="/tarea">Tarea</a></h2></li></ul>
      </div>
      </header>
      <section class="sidebar">
      </section>
        <main>
            <div class="container" >
                <a href="/registrocliente" ><button class="add-service-btn">Agregar</button></a>
                <a>Cliente</a>
          <input type="text" id="search" placeholder="Buscar servicio...">
                <div class="diseño">
                  <div class="tablew">
                    <table class="table" >
                      <thead>
                        <tr class="bg-primary">
                          <th scope="col">Id</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">indentificiacion</th>
                          <th scope="col">Correo</th>
                          <th scope="col">Telefono</th>
                          <th scope="col">Responsable</th>
                          <th scope="col">Equipo</th>
                          <th scope="col">Direccion</th>
                          <th scope="col">Region</th>
                          <th scope="col">Ciudad</th>
                          <th scope="col">Estado</th>
                          <th scope="col">ACCION</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% results.forEach((cliente) => { %>
                          <tr>
                            <td scope="row" class="table-primary"><%= cliente.id_cliente %></td>
                            <td scope="row" class="table-primary"><%= cliente.nombre %></td>
                            <td scope="row" ><%= cliente.identificacion %></td>
                            <td scope="row" class="table-primary"><%= cliente.correocliente %></td>
                            <td scope="row" ><%= cliente.telefonocorp %></td>
                            <td scope="row" ><a href="/editclients/respon/<%= cliente.responsable %>"><%= cliente.responsable %></a></td>
                            <td scope="row" class="table-primary"><%= cliente.direccion %></td>
                            <td scope="row" class="table-primary"><%= cliente.region %></td>
                            <td scope="row" class="table-primary"><%= cliente.ciudad %></td>
                            <td scope="row" class="table-primary"><%= cliente.estado %></td>
                            <td>
                              <a href="/editcliente/<%= cliente.id_cliente %>" class="btn btn-outline-info">editar</a>
                              <a href="/delete/<%= cliente.id_cliente%>" class="btn btn-outline-info">borrar</a>
                            </td>
                          </tr>
                          <%  }) %>
                        </tbody>
                      </table>
                  </div>
                </div>
        </main>
        <div class="barra"></div>
  </body>
</html>