<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/estilo/tablaTarea.css">
      <link rel="stylesheet" href="/resources/estilo/inicio.css">
  <title>Tabla tareas    </title>
  
  </head>
  <body>
  
    <header class="header" >  
      <a href="/home"><img class="logo" src="/resources/IMAGENES/LOGO.PNG"></a>
      <ul>
      <li><a href="/clientes">Cliente</a></li>
  <li> <a href="/colab" >Colaborador</a></h2></li>
<li> <a href="/ver-equipos">Equipo</a></h2></li>
<li> <a href="/producto">Producto</a></h2></li>
<li> <a href="/servicio">Servicio</a></h2></li>
<li> <a href="/tarea" style="color:rgb(2, 178, 40)">Tarea</a></h2></ul></li>
</header>

    <section class="sidebar"></section>
    <main class="main">
      <div class="cuadro2" >
        <div class="diseño">
        <div class="tablew">
            <table class="disazo table-hover" >
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">CLIENTE</th>
                  <th scope="col">COLABORADOR</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">TIPO</th>
                  <th scope="col">PRIORIDAD</th>
                  <th scope="col">STATUS</th>
                </tr>
              </thead>
              <tbody>
                <% results.forEach((tareas) => { %>
                  <tr>
                    <td scope="row" onclick="openModal('<%= tareas.id_tarea %>')"><%= tareas.id_tarea %></td>
                      <td scope="row"><a href="/editclient/cliente/<%= tareas.cliente %>"><%= tareas.cliente %></a></td>
                      <td scope="row">
                          <a href="/editcola/nombre/<%= tareas.colaborador %>">
                              <%= tareas.colaborador %>
                          </a>
                      </td>
                      <td scope="row"><%= tareas.fecha %></td>
                      <td scope="row"><%= tareas.tipo %></td>
                      <td scope="row"><%= tareas.prioridad %></td>
                      <td class="estado" data-status="<%= tareas.status %>">
                          <%= tareas.status %>
                      </td>
                  </tr>
              <% }) %>
              </tbody>
          
</table>


</div>
</div>
</div>
<div id="modal" class="modal">
  <div class="modal-content">
    <button class="close-btn" onclick="closeModal()">&times;</button>

      <div class="diseño2">
        <label for="cliente" style="color:rgb(255, 255, 255)">Tarea será ejecutada por:</label><br>
        <input id="cliente"></input>                      
        
        <label for="colaborador" style="color: rgb(249, 247, 247)">La tarea será colaborada por:</label><br>
<a id="colaboradorLink" href="" style="color: rgb(249, 247, 247); font-weight: bold; background-color: #333; border: none; padding: 5px; border-radius: 5px;">
   <span id="colaborador" style="list-style: none;" ></span> </a>

                <label for="fecha" style="color: rgb(255, 255, 255)">Fecha de tarea:</label><br>
                <input  name="fecha" id="fecha"><br>

                <label for="tipo" style="color: rgb(245, 237, 237)">El Tipo de Tarea:</label><br>
                    <input id="tipo"></input><br>
                  <!-- Filtra los nombres de clientes para evitar duplicados -->
                  <label for="equipo" style="color:rgb(255, 255, 255)">Equipo:</label><br>
                
                    <input id="equipo"></input>  
                <label for="prioridad" style="color: rgb(255, 255, 255)">Prioridad:</label><br>
                    <input value="alta" id="prioridad"></input>
                <label for="descripcion" style="color: rgb(255, 255, 255);">Descripción de la tarea:</label>
                <input name="descripcion" id="descripcion" rows="4"></input>

        </div>
      </div>
      <div id="modal" class="modal">

  <div class="modal-content">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <div class="diseño2">
      <label for="cliente" style="color:rgb(255, 255, 255)">Tarea será ejecutada por:</label><br>
      <input id="cliente"></input>
      <label for="colaborador" style="color: rgb(249, 247, 247)">La tarea sera colaborada por:</label><br>
      <input id="colaborador"></input>        
      <label for="fecha" style="color: rgb(255, 255, 255)">Fecha de tarea:</label><br>
      <input  name="fecha" id="fecha"><br>
      <label for="tipo" style="color: rgb(245, 237, 237)">El Tipo de Tarea:</label><br>
      <input id="tipo"></input><br>
      <!-- Filtra los nombres de clientes para evitar duplicados -->
      <label for="equipo" style="color:rgb(255, 255, 255)">Equipo:</label><br>
      <input id="equipo"></input>  
      <label for="prioridad" style="color: rgb(255, 255, 255)">Prioridad:</label><br>
      <input value="alta" id="prioridad"></input>
      <label for="descripcion" style="color: rgb(255, 255, 255);">Descripción de la tarea:</label>
      <input name="descripcion" id="descripcion" rows="4"></input>
    </div>
  </div>
</div>   

</div>
</div>
</div>
</div>
</div>
</main>
<script src="/resources/javascript/Tarea.js"></script>
  </body>
</html>